
<h4 align="right"> <label for="user_name"> User Name:</label><%= @user.name %> //  <label for="id"> User ID:</label><%= @user.id %></h4>

<center><h1>Orders Index</h1></center>
  

<ul>
    <% @orders.each do |order| %>
        <li><a href="/orders/<%= order.id %>"><%= order.id %></a>    |===|
        <label for="order_date"> Date:</label> <%= order.order_date%> |===|
        <label for="location"> Location:</label> <%= order.location%> |===|
        <label for="part_number"> Part Number:</label> <%= order.part_number%> |===|
        <label for="qty"> Quantity:</label> <%= order.qty%> |===|
        <label for="picked"> Picked?:</label><%= order.picked%>
        </li>
    <% end %>
</ul>
